:root {
  --white: #fff;
  --main-color: #3c896d;
  --secondary-color: #4fb286;
  --grey: #707070;
  --shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  --black: #2e2e2e;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
a {
  text-decoration: none;
}
.header {
  position: fixed;
  height: 80px;
  width: 100%;
  z-index: 100;
  padding: 0 20px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
.header::before {
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  transition: 0.5s;
}
.nav {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}
.nav,
.nav_item {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
.nav_logo,
.nav_link {
  color: var(--black);
  transition: 0.3s ease-in-out;
}
.button {
  color: var(--white);
  transition: 0.3s ease-in-out;
}
.nav_logo {
  font-size: 25px;
}
.nav_item {
  column-gap: 25px;
}
.nav_link:hover {
  color: var(--main-color);
  transition: 0.3s ease-in-out;
}
#login-open {
  border: 2px solid var(--black);
  color: var(--black);
}
#login-open:hover {
  border: 2px solid var(--main-color);
  color: var(--main-color);
  transition: 0.3s ease-in-out;
}
.button {
  padding: 6px 24px;
  border: 2px solid var(--secondary-color);
  background: transparent;
  border-radius: 6px;
  cursor: pointer;
}
.button:active {
  transform: scale(0.98);
}
.buttons button {
  margin-right: 15px;
  transition: 0.3s ease-in-out;
}
/* .buttons button:hover {
  border: 2px solid var(--main-color);
  color: var(--main-color);
  transition: 0.3s ease-in-out;
} */
/* Home */
.home {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: whitesmoke;
  /* height: 100%; */
  /* --s: 60px;
  --c1: #180a22;
  --c2: #4fb286;
  --_g: radial-gradient(
    25% 25% at 25% 25%,
    var(--c1) 99%,
    rgba(0, 0, 0, 0) 101%
  );
  background: var(--_g) var(--s) var(--s) / calc(2 * var(--s))
      calc(2 * var(--s)),
    var(--_g) 0 0 / calc(2 * var(--s)) calc(2 * var(--s)),
    radial-gradient(50% 50%, var(--c2) 98%, rgba(0, 0, 0, 0)) 0 0 / var(--s)
      var(--s),
    repeating-conic-gradient(var(--c2) 0 50%, var(--c1) 0 100%)
      calc(0.5 * var(--s)) 0 / calc(2 * var(--s)) var(--s); */
}
.home::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-out;
}
.home.show::before {
  opacity: 1;
  pointer-events: auto;
}
/* Form */
.form_container {
  position: fixed;
  max-width: 320px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  z-index: 101;
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease-out;
}
.home.show .form_container {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
.signup_form {
  display: none;
}
.form_container.active .signup_form {
  display: block;
}
.form_container.active .login_form {
  display: none;
}
.form_close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #0b0217;
  font-size: 22px;
  opacity: 0.7;
  cursor: pointer;
}
.form_container h2 {
  font-size: 22px;
  color: var(--black);
  text-align: center;
}
.input_box {
  position: relative;
  margin-top: 30px;
  margin-bottom: 40px;
  width: 100%;
  height: 40px;
}
.input_box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding: 0 30px;
  color: #333;
  transition: all 0.2s ease;
  border-bottom: 1.5px solid #aaaaaa;
}
.error-message {
  display: none;
  font-size: 12px;
  color: red;
  padding: 5px;
  animation: shake 0.5s ease-in-out;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(5px);
  }
}
.required-container {
  padding: 10px;
  max-height: 50px;
  overflow-y: scroll;
  scrollbar-color: var(--secondary-color);
}
.required-content li {
  color: var(--grey);
  font-size: 11px;
}
.required-content span {
  color: red;
}
.input_box input:focus {
  border-color: var(--main-color);
}
.input_box i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #707070;
}
.input_box i.email,
.input_box i.password,
.input_box i.usr,
.input_box i.date {
  left: 0;
}
.input_box input:focus ~ i.email,
.input_box input:focus ~ i.password {
  color: var(--main-color);
}
.input_box i.pw_hide {
  right: 0;
  font-size: 18px;
  cursor: pointer;
}
.option_field {
  margin-top: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.frm-overflow-content {
  max-height: 300px;
  overflow-y: scroll;
  padding: 10px;
}
.form_container a {
  color: var(--main-color);
  font-size: 12px;
}
.form_container a:hover {
  text-decoration: underline;
}
.checkbox {
  display: flex;
  column-gap: 8px;
  white-space: nowrap;
}
.checkbox input {
  accent-color: var(--main-color);
}
.checkbox label {
  font-size: 12px;
  cursor: pointer;
  user-select: none;
  color: #0b0217;
}
.form_container .button {
  background: var(--secondary-color);
  margin-top: 30px;
  width: 100%;
  padding: 10px 0;
  border-radius: 10px;
}
.login_signup {
  font-size: 12px;
  text-align: center;
  margin-top: 15px;
}
/* role toggle */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px; /* Ajusta el ancho */
  height: 20px; /* Ajusta el alto */
  cursor: pointer;
  margin-top: 30px;
}
.toggle-switch i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #707070;
}
.toggle-switch i.rol {
  left: 0;
}
.toggle-content {
  margin-left: 30px;
}
.lbl {
  white-space: nowrap;
  font-size: 14px;
  color: #707070;
}
.toggle-switch input[type="checkbox"] {
  display: none;
}
.toggle-switch-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ddd;
  border-radius: 20px;
  box-shadow: inset 0 0 0 2px #ccc;
  transition: background-color 0.3s ease-in-out;
  margin-left: 140px;
}
.toggle-switch-handle {
  position: absolute;
  width: 16px; /* Ajusta el ancho del handle */
  height: 16px; /* Ajusta el alto del handle */
  top: 2px; /* Ajusta la posición vertical */
  left: 2px; /* Ajusta la posición horizontal */
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}
.toggle-switch::before {
  content: "";
  position: absolute;
  top: -15px; /* Ajusta la posición vertical del texto antes del toggle */
  right: -25px; /* Ajusta la posición horizontal del texto antes del toggle */
  font-size: 10px; /* Ajusta el tamaño del texto antes del toggle */
  font-weight: bold;
  color: #aaa;
  text-shadow: 1px 1px #fff;
  transition: color 0.3s ease-in-out;
}
.toggle-switch input[type="checkbox"]:checked + .toggle-switch-handle {
  transform: translateX(45px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 0 0 3px var(--main-color);
}
.toggle-switch input[type="checkbox"]:checked + .toggle-switch-background {
  background-color: var(--main-color);
  box-shadow: inset 0 0 0 2px var(--main-color);
}
.toggle-switch input[type="checkbox"]:checked + .toggle-switch:before {
  content: "On";
  color: var(--main-color);
  right: -15px;
}
.toggle-switch
  input[type="checkbox"]:checked
  + .toggle-switch-background
  .toggle-switch-handle {
  transform: translateX(30px);
}

/* radio buttons */
.radio-container {
  margin-top: 30px;
  max-width: 300px;
  color: #0b0217;
}
.radio-wrapper {
  margin-bottom: 20px;
}
.radio-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.radio-button:hover {
  /* transform: translateY(-2px); */
}
.radio-button input[type="radio"] {
  display: none;
}
.radio-checkmark {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  border: 2px solid var(--secondary-color);
  border-radius: 50%;
}
.radio-checkmark:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--main-color);
  transition: all 0.2s ease-in-out;
}
.radio-button input[type="radio"]:checked ~ .radio-checkmark:before {
  transform: translate(-50%, -50%) scale(1);
}
.radio-label {
  font-size: 14px;
  color: #707070;
}
.gender-lbl {
  white-space: nowrap;
  font-size: 14px;
  color: #707070;
}
.radio-content {
  margin-top: 20px;
}
